*.o
*.lo
.la
.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
examples/3ds2obj/3ds2obj
examples/3ds2obj/Makefile
examples/3ds2obj/Makefile.in
examples/3dsdump/3dsdump
examples/3dsdump/Makefile
examples/3dsdump/Makefile.in
examples/Makefile
examples/Makefile.in
examples/cube/Makefile
examples/cube/Makefile.in
examples/cube/cube
install-sh
lib3ds-config
libtool
ltmain.sh
missing
src/Makefile
src/Makefile.in
src/lib3ds.la
stamp-h1
